
.message-bubble {
  display: flex;
  margin-bottom: 10px;
  max-width: 100%;
}

.message-bubble.bot {
  align-self: flex-start;
}

.message-bubble.user {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.bot-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.message-content {
  background-color: #e6e6e6;
  padding: 10px 15px;
  border-radius: 20px;
  color: #333;
  font-size: 1.8rem;
}

.message-bubble.user .message-content {
  background-color: #0057ff;
  color: white;
}



